body {
  background: #F2F4F4;
  font: 400 16px Roboto, sans-serif;
  color: #545454;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .botao-cadastrar {
  background: #50bdca;
  color: #fff;
  padding: 12px;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  transition: background-color 500ms;
}

header .botao-cadastrar:hover {
  background-color: #fed385;
}

header .botao-sair {
  color:  #50bdca;
  width: 32px;
}

header .botao-sair img {
  color:  #50bdca;
  width: 32px;
}

.conteudo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100vw;
  height: 100vh;
}

.conteudo section {
  width: 60%;
}

#logo {
  width: 200px;
}

.post {
  padding: 10px 10px;
  background-color: #FBFCFC;
  border: 1px solid lightgray;
  margin-bottom: 30px;
  border-radius: 8px;
}

.post img {
  width: 100%;
}

.post div {
  margin-left: 10px;
  padding: 10px;
  font-size: 0.8em;
}

@media (max-width: 780px) {
  header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header * {
    margin-top: 16px;
  }

  #logo {
    width: 50%;
  }

  main .conteudo {
    margin: auto;
  }
}